body {
    font-family: Times, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0;
    margin: 0;

}

.title {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #1F2937;
    color: white;
    border-bottom: 1px solid white;
}



span {
    font-weight: bold;
    font-size: 30px;
}

.first {
    background-color: #1F2937;
    display: flex;
    flex: 1;
}

.texto {
    font-weight: bold;
    font-size: 48px;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    text-align: left border: 2px dashed red;
    padding-left: 150px;
}

.first-button {
    width: 100px;
    margin-left: 370px;
    background-color: #3882f6;
    color: white;
    border-radius: 10%;
    padding: 7px;
}

.middle {
    display: flex;
    text-align: center;
    justify-content: center;
    flex: 1;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 15%;
}

.info {
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .06);
    border-radius: 4px;
    padding: 16px;
    margin: 16px;
    width: 200px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;

}

.quote {
    flex: 1;
    background-color: #E5E7EB;
}

.para {
    margin: 50px 250px;
    text-align: start;
    font-size: 36px;
}

p {
    margin-top: 5px;
    margin-left: 675px;
    font-weight: bold;
    font-size: 34px;
}

.sign-up {
    flex: 1;
    padding: 80px;
}

.last-box {
    background-color: #3882f6;
    display: flex;
    flex: 1;
    padding: 30px;
    border-radius: 5%;
}

.last-button {
    background-color: #3882f6;
    border-radius: 15%;
    margin-left: 50px;
    padding: 5px;
    border: 1px solid white;
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    padding: 20px;
    text-align: center;

}

a {
    text-decoration: none;

    color: white;
}